<%- include('layout') %>

<%- include('navbar') %>

<div class="container-fluid">
    <div class="d-flex flex-column flex-lg-row p-2">
        <div class="flex-grow-1 w-100">
            <p><%= error %></p>
        </div>
    </div>
</div>