<%- include('layout') %>

<%- include('navbar') %>

<div class="container-fluid">
    <div class="d-flex flex-column flex-lg-row p-2">
        <div class="flex-grow-1 w-100">
            <h1>FantasyInvestor</h1>
            <h2>Dive into the world of fantasy investing with FantasyInvestor. Hone your financial skills, explore diverse investment strategies, and make decisions without the risk of real money. Whether you're a seasoned investor or just starting, join us for a risk-free journey to elevate your investing game.</h2>
        </div>
        <div class="flex-grow-1 w-100">
            <form>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
</div>