.navbar-brand {
    margin-left: 10px;
}

.navbar-toggler {
    margin-right: 10px;
}

.container-fluid {
    margin-top: 65px;
    padding: 0;
    height: 93vh;
    /*
    border: 1px solid red;

     */
    justify-content: space-evenly;
}

.flex-grow-1 {
    padding: 25px;
    /*
    border: 1px solid black;

     */
}

.form {
    margin-top: 275px;
}


@media only screen and (max-width: 1000px) {
    .form {
        margin-top: 10px;
    }
}


button {
    margin-top: 15px;
    margin-bottom: 17.5px;
}

#indexBackground {
    background-image: url("../images/dalle.png");
}

@media only screen and (min-width: 1260px) {
    #indexBackground {
        background-repeat: no-repeat;
        background-size: cover;
    }
}

h1 {
    color: black;
    font-weight: bold;
    font-size: 100px;
}

.navbar-brand span{
    color: blue;
}

.navbar-brand {
    font-weight: bold;
}

span {
    color: blue;
}

h2 {
    color: black;
}

.overflow-auto {
    height: 375px;
}


h1 span br {
    display: none;
}

@media only screen and (max-width: 767px) {
    h1 span br {
        display: initial;
    }
    h2 {
        font-size: 22.5px;
    }
}

label {
    font-weight: bold;
}