.navbar-brand {
    margin-left: 10px;
}

.navbar-toggler {
    margin-right: 10px;
}

.container-fluid {
    margin-top: 65px;
    padding: 0;
    height: 93vh;
    border: 1px solid red;
    justify-content: space-evenly;
}

.flex-grow-1 {
    padding: 25px;
    border: 1px solid black;
}

#indexBackground {
    background-image: url("../images/Background2.png");
}

h1 {
    color: black;
    font-weight: bold;
    font-size: 100px;
}

.navbar-brand span {
    color: blue;
}

h1 span {
    color: blue;
}

h2 {
    color: black;
}